<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Entrega Final</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="bg-light py-3 mb-4">
      <nav class="container d-flex justify-content-between">
        <a class="navbar-brand fs-2" href="/">Mi Tienda</a>
        <div>
          <a class="btn btn-outline-primary me-2" href="/">Home</a>
          <a class="btn btn-outline-success" href="/realtimeproducts">Real Time</a>
          <a
            href="/carts/682605b175bef82f3a282bf4"
            id="cartLink"
            class="btn btn-primary"
          >Carrito</a>
        </div>
      </nav>
    </header>

    <main class="container">
      {{{body}}}
    </main>

    <footer class="bg-light py-3 mt-5">
      <div class="container text-center">
        <small>&copy; Entrega Final</small>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>